.not-found {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 60px;
}

.home-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: black;
  color: white;
  text-decoration: none;
  border-radius: 8px;
}