<div class="profile-page">

  <h1 class="title">Profile</h1>

  <div class="profile-card">
    <div class="avatar">
      {{ user?.name?.substring(0,1) }}
    </div>

    <div class="user-info">
      <p class="name">{{ user?.name || 'Anurag Singh' }}</p>
      <p class="email">{{ user?.email || 'anurag@email.com' }}</p>
      <p class="joined">Member since Apr 2026</p>
    </div>
  </div>


  <div class="stats-grid">

    <div class="stat-card">
      <span class="stat-label">Total Rides</span>
      <p class="stat-value">{{ rideDetails().totalRides | number }}</p>
    </div>

    <div class="stat-card">
      <span class="stat-label">Distance Travelled</span>
      <p class="stat-value">
        {{ rideDetails().distanceTravelled | number }} km
      </p>
    </div>

    <div class="stat-card">
      <span class="stat-label">
        {{ user?.role === 'driver' ? 'Total Earnings' : 'Total Spent' }}
      </span>

      <p class="stat-value">
        ₹ {{ rideDetails().totalSpent | number }}
      </p>
    </div>

    <!-- <div style="display: block;">

      Enter Live Location
      @if (user?.role === 'driver') {
        <input type="text">

        <button>Update Location</button>
      }

    </div> -->

    

  </div>

  <!--By Aditya  -->
    @if (user?.role === 'driver') {
        <div class="location-card">
          <h3 class="title">Live Location</h3>
        <div class="input-group">
          <input type="text" [(ngModel)]="pickup" (input)="onPickupChange(pickup)" class="location-input"
            placeholder="Enter current city or coordinates..."> 

           <div *ngIf="pickupSuggestions.length" class="dropdown">
                <div
                    *ngFor="let place of pickupSuggestions"
                    (click)="selectPickup(place)"
                    class="dropdown-item">
                    {{ place.display_name }}
                </div>
            </div>

          <!-- <button class="update-btn">
            Update Location
          </button> -->
          
        </div>
      </div>
      }

</div>